/**
 * Video containers
 */
.video-container {
  text-align: center;
  margin: $spacing-unit 0;
}

.centered-video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: #000;
}

/**
 * Post content HR
 */
.post-content hr {
  border: none;
  border-top: $border-width solid $text-color;
  margin: $spacing-unit * 1.5 0;
}

body.dark .post-content hr {
  border-top-color: #333;
}
