/**
 * Site header
 */
.site-header {
  border-bottom: $border-width solid $text-color;
  padding: $spacing-unit * 0.75 0;
}

.site-header .wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.site-title {
  font-family: $font-mono;
  @include relative-font-size(1.1);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 0;
  text-decoration: none;

  &, &:visited {
    color: $text-color;
    text-decoration: none;
  }
}

.site-nav {
  position: relative;
  margin-left: auto;

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;

    .page-link {
      font-family: $font-mono;
      font-size: $small-font-size;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      color: $text-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: $border-width;
      }
    }
  }

  @include media-query($on-palm) {
    .nav-toggle-label {
      display: block;
      background: none;
      border: none;
      padding: 0;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    .nav-list {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $background-color;
      border: $border-width solid $text-color;
      list-style: none;
      padding: 8px 0;
      margin: 4px 0 0 0;
      min-width: 160px;

      .page-link {
        display: block;
        padding: 8px 16px;
      }
    }

    .nav-toggle:checked ~ .nav-list {
      display: block;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: $border-width solid $text-color;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-family: $font-mono;
  @include relative-font-size(0.85);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.875);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 2 0;
  flex: 1;
}

.page-heading {
  font-family: $font-serif;
  @include relative-font-size(2.5);
}

.post-list-heading {
  font-family: $font-mono;
  @include relative-font-size(0.85);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: $spacing-unit * 1.5;
  font-weight: 400;
}

/**
 * Post list (homepage)
 */
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    padding: $spacing-unit 0;
    border-bottom: 1px solid $grey-color-light;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.post-meta {
  font-family: $font-mono;
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 8px;
}

.post-link {
  font-family: $font-serif;
  @include relative-font-size(1.8);
  display: block;
  line-height: 1.2;
  font-weight: 700;
  color: $text-color;
  text-decoration: none;
  letter-spacing: -0.02em;

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

  @include media-query($on-palm) {
    @include relative-font-size(1.5);
  }
}

.post-excerpt {
  margin-top: 12px;
  color: $grey-color-dark;
  line-height: 1.6;

  p {
    margin: 0;
  }
}

/**
 * Posts (single view)
 */
.post-header {
  margin-bottom: $spacing-unit * 1.5;
}

.post-title {
  font-family: $font-serif;
  @include relative-font-size(2.8);
  letter-spacing: -0.03em;
  line-height: 1.15;
  font-weight: 700;

  @include media-query($on-laptop) {
    @include relative-font-size(2.2);
  }
}

.post-content {
  margin-bottom: $spacing-unit * 2;

  p {
    margin-bottom: $spacing-unit * 0.75;
  }

  h2 {
    font-family: $font-serif;
    @include relative-font-size(1.8);
    margin-top: $spacing-unit * 1.5;
    margin-bottom: $spacing-unit * 0.5;

    @include media-query($on-laptop) {
      @include relative-font-size(1.5);
    }
  }

  h3 {
    font-family: $font-serif;
    @include relative-font-size(1.4);
    margin-top: $spacing-unit * 1.2;

    @include media-query($on-laptop) {
      @include relative-font-size(1.2);
    }
  }

  h4 {
    font-family: $font-serif;
    @include relative-font-size(1.15);

    @include media-query($on-laptop) {
      @include relative-font-size(1.05);
    }
  }

  video, iframe {
    display: block;
    margin: $spacing-unit auto;
    max-width: 100%;
    height: auto;
  }

  strong {
    font-weight: 700;
  }

  ul, ol {
    margin-bottom: $spacing-unit * 0.75;
  }
}

.home {
  padding: 0;
}
